ul {
	margin: 50px auto;
	padding: 0 20%;
		transition: all 4s ease-in-out;

}

li {
	font-size: 18px;
	text-align: left;
	border: 1px solid #000;
	list-style: none;
	padding: 20px;
	margin-bottom: -1px;
	transition: all 4s ease-in-out;
}


div {
	text-align: center;
		transition: all 5s ease-in-out;

}

button, button:focus {
	border-radius: 5px;
    padding: 10px 20px;
    background-color: #fff;
    border: solid 1px #000;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}
button:hover {
	background-color: #C0C0C0;
	transform: scale(1.1);
	transition: all .25s ease-in-out;
}

a {
	display: block;
	margin-top: 10px;
}

p {
transition: all 5s ease-in-out;
margin-bottom: 30px;
}

.content {
	font-size: 15px;
	transition: all 5s ease-in-out;
}

span {
	float: right;
}
.page button:hover {
	transform: none;
	transition: none;
}

.page button {
	width: 150px;
	height: 50px;
	padding: 5px;
		
}

.page button:first-child span {
	float: left;
}

button[ng-disabled="true"] {
	opacity: 0.4;
}





