ul {
	margin: 50px auto;
	padding: 0 20%;
		transition: all 4s ease-in-out;

}

li {
	font-size: 18px;
	text-align: left;
	border: 1px solid #000;
	list-style: none;
	padding: 30px;
	margin-bottom: -1px;
	transition: all 4s ease-in-out;
}


div {
	text-align: center;
		transition: all 5s ease-in-out;

}

button, button:focus {
	border-radius: 5px;
    padding: 10px 20px;
    background-color: #fff;
    border: solid 1px #000;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}
button:hover {
	background-color: #f6f6f6;
	transform: scale(1.1);
	transition: all .25s ease-in-out;
}

a {
	display: block;
	margin-top: 20px;
}

p {
transition: all 5s ease-in-out;
margin-bottom: 30px;
}

.content {
	font-size: 15px;
	margin-top: 30px;
	text-align: left;
}

span {
	float: right;
}
.page button:hover {
	background-color: #fff;
	transform: none;
	transition: none;
}

.page button {
	width: 150px;
	height: 50px;
	padding: 5px;

}

.page button:first-child span {
	float: left;
}

button[disabled] {
	opacity: 0.4;
}

p[ng-if="errorMessage"] {
	font-size: 25px;
	margin-top: 50px;
	color: red;
}

.ng-invalid-pattern input {
	border:1px solid #FF0000;
	outline: none;
}
form {
	display: inline-block;
	position: relative;
}

form span {
	position: absolute;
	top: 40px;
    left: 0;
    color: #FF0000
}

.page {
	margin-bottom: 100px;
}


.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 40px;
  height: 40px;
  margin: 10px auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}







