<!DOCTYPE html>
<head>
<title>Guardian news</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="myApp" >
	<div ng-controller="getDataController">
		<p ng-if="errorMessage">{{errorMessage}}</p>
		<div ng-hide="errorMessage" >
			<h1>The Guardian News</h1>
			<button ng-click="loadData()">Refresh</button>
			<ul ng-controller="accordionController">
				<li ng-repeat="x in data.results">
					<p ng-click="hide=!hide">
						{{ x.webTitle}} 
						<span class="glyphicon" ng-class="{'glyphicon-menu-right': hide, 'glyphicon-menu-down': !hide}"></span>
					</p>
					<p class="content" ng-hide="hide">
						{{ x.blocks.body[0].bodyTextSummary | limitTo : 300}}...
						<a href="{{x.webUrl}}">Read full news</a>
					</p>
				</li> 
			</ul>
			<div class="page">
				<button ng-click="previousPage()" ng-disabled="{{data.currentPage === 1}}">Previous Page  <span class="glyphicon glyphicon-menu-left"></span></button>
				<input type="" name="" placeholder="change page" ng-keydown="$event.keyCode === 13 && changePage(currentPage)" ng-model="currentPage">  {{data.currentPage}} the {{data.pages}} 
				<button ng-click="nextPage()">Next Page  <span class="glyphicon glyphicon-menu-right"></span></button>
			</div>
		</div>
	</div>

    <!-- Modules -->
	<script src="js/app.js"></script>

</body>
