<!DOCTYPE html>
<head>
<title>Guardian news</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="myApp" >
	<div ng-controller="newsFeedController">
		<p ng-if="errorMessage">{{errorMessage}}</p>
		<div ng-hide="errorMessage" >
			<h1>The Guardian News</h1>
			<button ng-click="loadNewsItems()">Refresh</button>
			<ul ng-controller="accordionController">
				<li ng-repeat="newsItem in newsItems">
					<p ng-click="hide=!hide">
						{{ newsItem.webTitle}}
						<span class="glyphicon" ng-class="{'glyphicon-menu-right': hide, 'glyphicon-menu-down': !hide}"></span>
					</p>
					<p class="content" ng-hide="hide">
						{{ newsItem.blocks.body[0].bodyTextSummary | limitTo : 300 }}
						{{ newsItem.blocks.body[0].bodyTextSummary.length > 300 ? '...' : '' }}
						<a href="{{newsItem.webUrl}}">Read full news</a>
					</p>
				</li>
			</ul>
			<div class="page">
				<button ng-click="previousPage()" ng-disabled="currentPage === 1">Previous Page <span class="glyphicon glyphicon-menu-left"></span></button>
				<form name="pageForm">
					<input type="text" name="pageInput" placeholder="change page"  ng-pattern="/^[1-9]+$/" ng-keypress="$event.keyCode == 13 && changePage(pageInputValue)" ng-blur="changePage(pageInputValue)" ng-model="pageInputValue" required>
					{{currentPage}} the {{pages}}
					<span ng-show="pageForm.pageInput.$error.pattern">Please enter a number from 1</span>	
				</form>
				<button ng-click="nextPage()">Next Page <span class="glyphicon glyphicon-menu-right"></span></button>
			</div>
		</div>
	</div>

    <!-- Modules -->
	<script src="js/app.js"></script>

</body>
